
.counter {

    padding-top: 40px;
    background: white;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: row;
    font-size: 25px;
    color: #fff;
    padding-bottom: 40px;
}

.counter_item {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 10rem;
    padding-left: 10rem;
    height: 7rem;
    border-right: 2px solid grey;
}
.counter_item_last {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 10rem;
    padding-left: 10rem;
    height: 7rem;
    
}
#a {

    font-weight: 200;
    font-size: 35px;
    color: #4fb3c5;

}

p {
    font-size: 15;
    color: black;
    font-weight: 600;
}

